*{
  box-sizing: border-box;
}
:root{
  --text-color: #0018E2;
}
body{
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  height: 100vh;
  position: relative;
}

/* ---CONTAINER--- */
.container{
  width: 1000px;
  margin: 0 calc(50% - 500px);
  margin-top: 0;
  background-color: #D4E6FE;
  height: 100%;
  position: absolute;
  top: 0;
}
/* ---MAIN SECTION---- */
.page{
  width: 800px;
  margin: 0 auto;
  background-color: #FDFEFF;
  height: 80%;
  margin-top: 100px;
} 
.form-block{
  margin: 0 80px;
  height: 100%;
}
h1{
  margin: 0;
  font-weight: normal;
  color: var(--text-color);
  padding: 30px 0;
  align-self: flex-start;
}
.form-block > input{
  border-style: none;
  height: 57px;
  padding: 0;
  margin: 10px 0;
  border-radius: 10px;
}
.form-block > input::placeholder{
  padding-left: 20px;
  color: var(--text-color);
}

.half{
  width: 309px;
  
}
.full{
  width: 100%;
}
.color1{
  background-color: #E7E9FE;
}
.color2{
  background-color: #DCE1FF;
}
.color3{
  background-color: #C7CDFD;
}
.color4{
  background-color: #A5B1FD;
}

button{
  width: 165px;
  height: 55px;
  background-color: #233BF5;
  margin: 20px 0 0 40%;
  border: none;
  border-radius: 28px;
  color: #fff;
}

p{
  font-size: 14px;
  color: #38CB9E;
}

