*{
  box-sizing: border-box;
}
:root{
  --main-color: #f9f9f9;
}
body{
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  height: 100vh;
}
.container{
  width: 1200px;
  margin: 0 calc(50% - 600px);
}
main{
  background-color: #c4c4c4;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1{
  margin-top: 0;
  margin-left: 2em;
}
.header, .footer{
  width: 100%;
  height: 100px;
  background-color: var(--main-color);
}
.page{
  flex: 1 1 auto;
 }